/* Ensure these styles are applied to the correct elements */
.waves {
    color: #fff;
    height: 50px;
    width: 50px;
    line-height: 50px; /* Adjusted to match height */
    text-align: center;
    border-radius: 50%;
    font-size: 24px; /* Adjust to a more reasonable size */
    background: #1a76d1;
    padding: 10px;
    cursor: pointer;
    /* Ensure this is correct based on your layout */
}

/* .bg{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8; 
    z-index: -1;


} */
/* 
.video{
 padding-top: 10%;
 height: 70vh;
 z-index: 100;

} */
/* 
.wavesAnimation {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #fff;
    opacity: 0;
    border-radius: 50%;
    animation: waves 3s ease-in-out infinite;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} */


.content{

    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: transparent;
    background-clip: padding-box;
    border: 0;
    outline: 0;

} 

@keyframes waves {
    0% {
        transform: scale(0) translate(-50%, -50%);
        opacity: 0.5;
    }
    50% {
        transform: scale(1) translate(-50%, -50%);
        opacity: 0;
    }
    100% {
        transform: scale(0) translate(-50%, -50%);
        opacity: 0.5;
    }
}
